@import "../../assets/css/variables";

.ant-layout .ant-layout-sider-zero-width-trigger {
    top: 12px !important;
    background-color: $secondary;
    color: $primary;
    // border: 2px solid $primary;
    box-shadow: rgba($primary, 0.35) 0px 5px 15px;
}